target
.DS_Store
.cargo/config.toml
.pixi
*.aux.xml
**/__pycache__
.idea
crates/geo/tests/data/cog_debug/cog_tile
crates/geo/tests/data/cog_debug/web_tile
crates/geo/tests/data/cog_debug/cog.tif
crates/geo/tests/data/cog_debug/cog_512px.tif
crates/geo/tests/data/cog_debug/cog_256px.tif
crates/geo/tests/data/reproject_debug
crates/geo/tests/data/cog_debug/lower_cog_tile
crates/geo/tests/data/cog_debug/lower_web_tile
.cargo/config.vcpkg.toml
