target
.DS_Store
.pixi
.direnv
.devenv*
*.aux.xml
**/__pycache__
.idea
.cargo/config.vcpkg.toml
crates/geo/tests/data/reproject_debug/*.tif
crates/geo/tests/data/cog_debug/**/*.tif
crates/geo/tests/data/cog_debug_multiband/**/*.tif
